<%- include('partials/header');-%>
<div class="cover">
  <%- include('partials/navbar');-%>
  <div class="heading-text">
    <h1 data-aos="fade-down" data-aos-duration="2000">Sweat is fat crying</h1>
  </div>
</div>

<section id="why_fitness">

  <div class="container-fluid Fitness_info">
    <h1 data-aos="fade-down" data-aos-duration="2000">Why Fitness</h1>

    <div class="row">
      <div class="col info_text" data-aos="fade-right" data-aos-duration="2000">
        <p>There are two types of pain in this world:<br>pain that hurts you<br>pain that changes you<br><br>You should excercise because somehow completely exausting yourself is the most relaxing part of the day.</p>
      </div>
      <div class="col-lg-6 info_image" data-aos="fade-left" data-aos-duration="2000">
        <img src="/images/yoga_ladij.jpg" style="width:90%">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 info_image" data-aos="fade-right" data-aos-duration="2000">
        <img src="/images/fit_girl.jpg" style="width:90%">
      </div>
      <div class="col info_text" data-aos="fade-left" data-aos-duration="2000">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer');-%>
