<%- include('partials/header');-%>
<div class="cover">
  <%- include('partials/navbar');-%>
  <div class="heading-text">
    <h1 data-aos="fade-down" data-aos-duration="2000">Sweat is fat crying</h1>
  </div>
</div>

<section id="why_fitness">

  <div class="container-fluid Fitness_info">
    <h1 data-aos="fade-down" data-aos-duration="2000">Why Fitness</h1>

    <div class="row">
      <div class="col info_text_1" data-aos="fade-right" data-aos-duration="2000">
        <p>There are two types of pain in this world:<br>pain that hurts you<br>pain that changes you<br><br>You should excercise because <br> somehow completely exausting yourself <br> is the most relaxing pain ever .</p>
      </div>
      <div class="col-lg-6 info_image_1" data-aos="fade-left" data-aos-duration="2000">
        <img src="/images/fit_girl.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 info_image_2" data-aos="fade-right" data-aos-duration="2000">
        <img src="/images/yoga_ladij.jpg">
      </div>
      <div class="col info_text_2" data-aos="fade-left" data-aos-duration="2000">
        <p>
          A calm mind releases the most precious capacity <br> a human being can have: <br> the capacity to turn anger into compassion, fear into fearlessness,  <br> and  hatred into love.

        </p>
      </div>
    </div>
  </div>
</section>

<section id="abt_app">

  <div class="container-fluid about_app">
    <h1 data-aos="fade-down" data-aos-duration="2000">About this App</h1>

    <div class="row">
      <div class="col info_app" data-aos="fade-right" data-aos-duration="2000">
        <p>There are two types of pain in this world:</p>

        <p>Pain that hurts you and pain that changes you,You should excercise because somehow completely exausting yourself is the most relaxing part of the day.</p>
      </div>
      <div class="col-lg-6 info_app_image_1" data-aos="fade-left" data-aos-duration="2000">
        <img src="/images/pushups.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col info_app_image_2" data-aos="fade-right" data-aos-duration="2000">

      </div>
    </div>
  </div>
</section>

<%- include('partials/footer');-%>
