<%- include('partials/header');-%>
<div class="mentalHlth_cover">
  <%-include('partials/navbar');-%>
  <div class="row">
    <div class="col-lg-6">
      <img src="/images/meditato.gif" alt="">
    </div>
    <div class="col-lg-6">
      <h1>“You don’t have to control your thoughts. You just have to stop letting them control you.” <br>— Dan Millman</h1>
    </div>
  </div>

</div>

<section id="patience">

  <div class="container-fluid mental_info">
    <h1 data-aos="fade-down" data-aos-duration="2000">Mental wellness</h1>

    <div class="row">
      <div class="col info_text_1" data-aos="fade-right" data-aos-duration="2000">
        <p>Never be in a hurry <br> do everything quietly and in a calm spirit. <br> <br> ~ Saint Francis de Sales</p>
      </div>
      <div class="col-lg-6 info_mt_image_1" data-aos="fade-left" data-aos-duration="2000">
        <img src="/images/chill.gif">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 info_mt_image_2" data-aos="fade-right" data-aos-duration="2000">
        <img src="/images/ladij_meditation.gif">
      </div>
      <div class="col info_mt_text_2" data-aos="fade-left" data-aos-duration="2000">
        <p>
          Emotional pain is not something that should be hidden away <br> and never spoken about.There is truth in your pain,<br> there is growth in your pain, but only if it’s first brought out into the open.
          <br><br>~ Steven Aitchison
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col info_text_1 buddha" data-aos="fade-right" data-aos-duration="2000">
        <p>You, yourself, <br> as much as anybody in the entire universe, <br> deserve your love and affection <br><br> ~Buddha</p>
      </div>
      <div class="col-lg-6 info_mt_image_1" data-aos="fade-left" data-aos-duration="2000">
        <img src="/images/buddha.gif">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 info_mt_image_2" data-aos="fade-right" data-aos-duration="2000">
        <img src="/images/man_meditation.gif">
      </div>
      <div class="col info_mt_text_2" data-aos="fade-left" data-aos-duration="2000">
        <p>
        Sometimes the people around you <br> won’t understand your journey. They don’t <br> need to, it’s not for them. <br><br> ~ Joubert Botha



        </p>
      </div>
    </div>

  </div>
</section>
<%-include('partials/footer');-%>
