body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* cover */
.cover {
  background-image: url("/images/cover.jpg");
  height: 100vh;
}

.heading-text {
  padding-top: 13rem;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.heading-text h1 {
  font-size: 150px;
  font-family: 'Barlow', sans-serif;
  color: white;
}

/* navbar */
.nav-item {
  font-size: 22px;
  font-family: 'Barlow', sans-serif;
}

.main_nav {
  padding: 0.75rem 4rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
}

/* footer */
footer {
  background-color: white;
  text-align: center;
}

.footercon img {
  height: 40px;
  width: 40px;
  margin: 5%;
}

.footercon {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* why_fitness */
.Fitness_info h1 {
  padding: 5% 0;
  font-size: 80px;
  font-weight: bold;
}

.info_text_1 p {
  padding: 10% 10%;
  font-size: 25px;
}

.info_text_2 p {
  padding: 10% 0;
  font-size: 25px;
}

.info_text_1 {
  text-align: right;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_text_2 {
  text-align: left;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_image_1 img {
  width: 80%;
  border: solid black;
  margin-right: 20%;
}

.info_image_2 img {
  width: 80%;
  border: solid black;
  margin-top: 5%;
}

/* why_fitness */
.about_app h1 {
  padding: 2% 0;
  font-size: 50px;
}

.info_app p {
  line-height: 60px;
  font-size: 40px;
  color: white;
  padding: 4% 4%;
}

.info_app {
  text-align: justify;
  min-height: 80vh;
  margin: 1% 1%;
}

.info_app_image_2 {
  min-height: 80vh;
  margin: 1% 1%;
}

.info_app_image_1 {
  min-height: 80vh;
  margin: 1%;
}

.info_app_image_1 img {
  height: 100%;
  width: 100%;
}

/* bmi */
.bmi_cover {
  background-image: url("/images/bmi.jpg");
  height: 100vh;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 200px;
  right: 0;
  width: 500px;
  height: 600px;
}

.form-box:before {
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

.form-box .header-text {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 30px;
  text-align: center;
}

.form-box input {
  margin: 10px 0px;
  border: none;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  font-family: poppins;
}

.form-box input[type=checkbox] {
  display: none;
}

.form-box label {
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-box label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ddd;
}

.form-box input[type=checkbox]:checked+label:before {
  content: "\2713";
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 20px;
}

.form-box span {
  font-size: 14px;
}

.form-box button {
  background-color: deepskyblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding: 20px;
  margin: 20px 0px;
}

span a {
  color: #BBB;
}

/* healthy */
.healthy_cover {
  height: 100vh;
  background-color: #99cc99;
}

.sub_cover {
  width: 100%;
}

.sub_cover .col-lg-6 img {
  margin-top: 10%;
  margin-right: 30%;
  width: 60%;
}

.sub_cover .col-lg-6 p {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 50px;
}

.sub_cover .col-lg-6 h1 {
  position: absolute;
  top: 45%;
  left: 3%;
  font-size: 140px;
}

/* meantal health */
.mentalHlth_cover {
  height: 100vh;
  background-color: #E4BAD4;
}

.mentalHlth_cover .col-lg-6 {
  height: 100vh;
}

.mentalHlth_cover .col-lg-6 img {
  width: 70%;
  margin-top:15%;
  margin-left: 20%;
}

.mentalHlth_cover .col-lg-6 h1{
  margin-top: 30%;
  padding: 5%;
  line-height: 70px;
  font-size: 50px;
  margin-right: 25%;
}

/* why_fitness */
.mental_info h1 {
  padding: 5% 0;
  font-size: 80px;
  font-weight: bold;
}

.info_mt_text_1 p {
  padding: 10% 10%;
  font-size: 25px;
}

.info_mt_text_2 p {
  padding: 10% 0;
  font-size: 25px;
}

.info_mt_text_1 {
  text-align: right;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_mt_text_2 {
  text-align: left;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_mt_image_1 img {
  width: 80%;
  border: solid black;
  margin-right: 20%;
}

.info_mt_image_2 img {
  width: 80%;
  border: solid black;
  margin-top: 5%;
}

.info_mt_text_1 p {
  padding: 10% 10%;
  font-size: 25px;
}

.info_mt_text_2 p {
  padding: 10% 0;
  font-size: 25px;
}

.info_mt_text_1 {
  text-align: right;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_mt_text_2 {
  text-align: left;
  padding: 1% 1%;
  margin-left: 1%;
}

.info_mt_image_1 img {
  width: 40%;
  border: solid black;
  margin-right: 20%;
}

.info_mt_image_2 img {
  width: 50%;
  border: solid black;
  margin-top: 5%;
}

.buddha p{
  margin-top: 10%;
}

.healthy_cover{
  height: 100vh;
  width: 100%;
  background-color:#99cc99;
}

.healthy_cover{
  height: 100vh;
  width: 100%;
  background-color:#99cc99;
}

.sub_cover .col-lg-6 img{

margin-top: 10%;
margin-right: 10%;
width: 85%;
}

.bmi_info{
    text-align: center;
    padding-top: 16%;
    padding-right: 20%;
    font-size: 50px;
}

.bmi_info h1{
  padding-top: 5%;
  padding-left:0%;
  font-size: 200%;
}

hr{
  border: solid black;
}

.advices .col-lg-6 {
  padding-top: 5%;
  text-align: left;
  padding-left: 5%;
  font-size: large;
  margin-top: 2%;
}

.advices_image_healthy img{
  padding-bottom: 10%;
  margin-left: 5%;

}

/*overwieght*/
.overweight_cover{
  background-color: #00dbf9;
  height: 100vh;
}

#ovr_heading{
  font-size: 100px;
  top:70%;
}

#ovr_pr{
  left: 25%;
  top:50%;
}

#obese{
  padding-top: 15%;
}

.main_cont{
  padding: 2% 0%;
  font-size: 27px;
}

#vege{
  width: 70%;
  height: 70%;
}

.underweight_cover{
background-color: #b091e0;
height: 100vh;

}

#underweight_h1{
  font-size: 80px;
  top:45%;
  left: 10%;
}

#tofu{
  width: 80%;
  height: 80%;
}

#wt_tr{
  width: 80%;
  height: 90%;
}

.info_app_image_2 img{
  width: 100%;
  height: 100%;
}

.info_app_image_2{
  height: 50%;
}

html {
  scroll-behavior: smooth;
}
