<%- include('../partials/header');-%>
<div class="healthy_cover">
  <%- include('../partials/navbar');-%>
  <div class="row sub_cover">
    <div class="col-lg-6">
      <img src="/images/healthy.gif" alt="">
    </div>
    <div class="col-lg-6 bmi_info ">
      <p>Your BMI value is<br>
        <%= bmi %>
      </p>
      <h1>Bravo!!! <br> Your healthy</h1>
    </div>
  </div>
  <!-- <hr> -->
  <div class="row advices container-fluid" data-aos="fade-right" data-aos-duration="2000">
    <div class="col-lg-6">
      <h1>Keep Going, Here are a few things you could do</h1>
      <div class="main_cont">
        <ul>
          <li>Have a balanced diet (containing lots of fruits, vegies and grains).</li>
          <li>Quit smoke, alcohol consumption should be moderate (if taking).</li>
          <li>Avoid sun between 10 am to 3 pm even if its cloudy.</li>
          <li>Stay in touch with friends and family</li>
          <li> Involve in some physical activity for 30 mins.</li>
          <li>try to be positive and happy</li>
          <li>healthy intimacy is good but should be coercion free.</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 advices_image_healthy" data-aos="fade-left" data-aos-duration="2000">
      <img src="images/healthy_collage.jpg">
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/js/main.js">
</script>
</body>

</html>
