<%- include('../partials/header');-%>
<div class="underweight_cover">
  <%- include('../partials/navbar');-%>
  <div class="row sub_cover">
    <div class="col-lg-6">
      <img src="/images/underweight.gif" alt="">
    </div>
    <div class="col-lg-6 bmi_info">
      <p>Your BMI value is<br>
        <%= bmi %>
      </p>
      <h1 id="underweight_h1">Seems like<br>You need to gain <br>some weight</h1>
    </div>
  </div>
</div>


<div class="row advices container-fluid">
  <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2000">
    <h1 >Follow this diet routine for some gain</h1>
    <div class="main_cont" >
      <ul>
        <li>If done properly, strength training can have long term effect like healthy aging, good cardiovascular health etc. </li>
        <li>It helps in gaining weight by increasing muscle</li>
        <li>There are two types of Weight training namely, isometric ( muscle contraction against a non-moving object ) and isotonic ( muscle contraction through a range using a weight ).</li>
        <li>It also helps in increasing bone strength along with muscle mass.</li>
        <li>Strength training helps in burning calories and improving body mechanics.</li>

      </ul>
    </div>
  </div>
  <div class="col-lg-6 advices_image_healthy" data-aos="fade-left" data-aos-duration="2000">

    <a href="/bmi"><img id="wt_tr" src="/images/weight_training.jpg"></a>
  </div>
</div>

<div class="row advices container-fluid">
  <div class="col-lg-6 advices_image_healthy" data-aos="fade-right" data-aos-duration="2000">
    <img id="tofu" src="images/tofu.jpeg">
  </div>
  <div class="col-lg-6" data-aos="fade-left" data-aos-duration="2000">
    <h1>Here are some tips for your diet</h1>
    <div class="main_cont" >
      <ul>
        <li>Try to eat more frequently (4-5 smalls meals a day)</li>
        <li>include things like smoothies, shakes and dairy products to your diet and make every bite count.</li>
        <li>Have occasional treat for yourself.</li>
      </ul>
    </div>
  </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/js/main.js">
</script>
</body>

</html>
